.rovers {
  padding: 64px 32px;
}

table .form-control {
  border-width: 0px;
}

.error,
table .error {
  border: 2px solid red !important;
}

th:nth-child(3),
td:nth-child(3) {
  background-color: #eee;
}

.form-control:disabled {
  background-color: inherit;
  color: black;
}
