input {
  font-weight: bold;
  outline: 0;
  border-width: 0px;
}

table .form-control {
  border-width: 0px;
}

.error,
table .error {
  border: 2px solid red;
}

input::placeholder {
  font-weight: normal;
}

input:disabled {
  color: black;
}
