body {
  background-color: rgb(255, 255, 255);
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
  padding-top: 10px;
}

input:disabled {
  color: black;
}

.grid-item input {
  width: 100%;
  background-color: rgb(176, 216, 203);
}

.grid-item.final input {
  background-color: rgb(93, 211, 172);
}

.error {
  border: 2px solid red;
}
